<link rel="stylesheet" href="features.css" />
<nav class="navbar">
    <h1>
       <b>TaskSync</b>
    </h1>
    <div class="btns">
        <ul>
            <button><b>Agenda</b></button>
            <button><a href="/features"><b>Features</b></a></button>
            <button><b>About us</b></button>
            <button onclick="toggle(false)" id="sgup"><b>Sign up</b></button>
            <button onclick="toggle(true)" id="sgin"><b>Sign in</b></button>
        </ul>
    </div>
</nav>
<div class="key-feat">
    <h2>Key features</h2>
    <hr />
    <div class="feat-list">
        <div class="sub-list-1">
            <div class="feat-item">
                <h2>Calender</h2>
                <p>
                    View your team's work on one shared calender
                </p>
            </div>
            <div class="feat-item">
                <h2>Forms</h2>
                <p>
                    Submit and manage work requests
                </p>
            </div>
            <div class="feat-item">
                <h2>Automation</h2>
                <p>
                    Submit and put in work requests
                </p>
            </div>
        </div>
        <div class="sub-list-2">
            <div class="feat-item">
                <h2>Timeline</h2>
                <p>
                    Build a chart in minutes
                </p>
            </div>
            <div class="feat-item">
                <h2>Reporting</h2>
                <p>
                    Get a real time insight of all the work done
                </p>
            </div>
            <div class="feat-item">
                <h2>Work load</h2>
                <p>
                    See how much work team members have 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="plans">
    <hr />

    <h1>All plans</h1>
    <div class="plans-list">
        <ul>
            <div class="plan-item">
                <h2>
                    Basic
                </h2>
                <p>
                    For individuals or teams just getting started with project management
                </p>
            </div>
            <div class="plan-item">
                <h2>
                    Premium
                </h2>
                <p>
                    For teams that need to create project plans with excellence
                </p>
            </div>
            <div class="plan-item">
                <h2>
                    Business
                </h2>
                <p>
                    For teams and companies that need to manage work across initiatives
                </p>
            </div>
        </ul>
    
    </div>
</div>
<script>
    
</script>