<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskSync</title>
    <link rel="stylesheet" href="/output.css" />
    <style>
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@100&display=swap');
        body{
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="mb-4 bg-blue-100">
    <nav class="navbar">
        <h1>
           <b>TaskSync</b>
        </h1>
        <div class="btns">
            <ul>
                <button><b>Agenda</b></button>
                <button><b>Features</b></button>
                <button><b>About us</b></button>
                <button onclick="toggle(false)" id="sgup"><b>Sign up</b></button>
                <button onclick="toggle(true)" id="sgin"><b>Sign in</b></button>
            </ul>
        </div>
     </nav>
    <%- body %>

</body>
</html>


