<nav class="navbar">
    <h1>
        TaskSync
    </h1>
    <div class="btns">
        <ul>
            <button onclick="toggle(false)" id="sgup">Sign up</button>
            <button onclick="toggle(true)" id="sgin">Sign in</button>
        </ul>
    </div>
 </nav>
 <div class = "signup">
    <img src="images/img-1.png" alt="sign_up_img" />
    <div class="signup-main">
        <h1>Sign up</h1>
        <div class="data-fields">
            <ul>
                <input id="name-input" placeholder="Full name" />
                <input id="email-input" placeholder="Email Address" />
                <input id="password-input" type="password" placeholder="Password (Minimum 6 characters)" />
                <input id="mob-num-input" placeholder="Mobile Number" />
            </ul>
        </div>
        <button>Continue</button>
        <p>
            By signing up you agree to TaskSync's Terms of Service and Privacy Policy and agree to receive marketing communications from TaskSync at the email address provided.
        </p>
    </div>
    <footer>
        <p>
            ©2023-24, All rights reserved
        </p>
    </footer>
 </div>
 <div class="signin">
 
 
 </div>
 <script>
    let signin = false;
    const toggle = (newval) => {
        signin = newval
        if (signin){
            document.querySelector("#signup").style.display = "none";
            document.qurtySelector("#signin").style.display = "flex"
        } else {
            document.querySelector("#signup").style.display = "flex";
            document.qurtySelector("#signin").style.display = "none"
        }
    }
    //document.querySelector("#sgup")
 </script>
 
 