<link rel="stylesheet" href="signup.css" />
<nav class="navbar">
    <h1>
       <b>TaskSync</b>
    </h1>
    <div class="btns">
        <ul>
            <button><b>Agenda</b></button>
            <button onclick=""><b>Features</b></button>
            <button><b>About us</b></button>
            <button onclick="toggle(false)" id="sgup"><b>Sign up</b></button>
            <button onclick="toggle(true)" id="sgin"><b>Sign in</b></button>
        </ul>
    </div>
 </nav>
 <form method="POST" action="/addtodo" class = "signup" id="signup">
    <img src="images/img-1.png" alt="sign_up_img" />
    <div class="signup-main">
        <h1><b>Sign up your Todo List</b></h1>
        <div class="data-fields">
            <ul>
               <label><input id="name-input" name="todoname" placeholder="Todo list name" /></label> 
               <label><input id="password-input" name="todopassword" type="password" placeholder="Password" /></label>
            </ul>
        </div>
        <button id="sgin-btn">Continue</button>
        <p>
            By signing up you agree to TaskSync's Terms of Service and Privacy Policy and agree to receive marketing communications from TaskSync at the email address provided.
        </p>
    </div>
    
</form>
 <form method="POST" action="/gettodo"class="signin" id="signin" style="display:none">
    <img src="images/img-2.png" alt="sign_up_img" />
    <div class="signin-main">
        <h1><b>Take control of your <font color="#00457E">TIME</font></b></h1>
        <div class="data-fields">
            <ul>
               <label><input id="name-input" placeholder="Todo list name" name="todoname"/></label> 
               <label><input id="password-input" type="password" placeholder="Password" name="todopassword" /></label>
            </ul>
        </div>
        <button id="sgin-btn">Continue</button>
        <p>
            By signing up you agree to TaskSync's Terms of Service and Privacy Policy and agree to receive marketing communications from TaskSync at the email address provided.
        </p>
    </div>
</form>
 <footer>
    <p>
        ©2023-24, All rights reserved
    </p>
</footer>
 
 <script>
    let signin = false;
    const toggle = (newval) => {
        console.log("toggled")
        signin = newval
        if (signin){
            document.querySelector("#signup").style.display = "none";
            document.querySelector("#signin").style.display = "flex"
        } else {
            document.querySelector("#signup").style.display = "flex";
            document.querySelector("#signin").style.display = "none"
        }
    }
    //document.querySelector("#sgup")
 </script>
 
 